@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

/* Hide default arrow */
summary {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 10px;
}
summary::-webkit-details-marker {
    display: none;
}
li {
    background: #ff9f5f;
}

h1, h2, h3 {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* Custom Arrow using borders */
.arrow {
    width: 8px;
    height: 8px;
    border-right: 2px solid #333;
    border-bottom: 2px solid #333;
    transform: rotate(-45deg); /* Points right/down initially */
    transition: transform 0.3s ease; /* Smooth rotation */
}

/* Rotate arrow when open */
details[open] .arrow {
    transform: rotate(45deg); /* Rotates to point down/up */
}

.content {
    padding: 10px;
    background: #dadada;
}
