@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

/* Hide default arrow */
summary {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 0.625rem;
}

summary::-webkit-details-marker {
    display: none;
}

body {
    background-color: rgb(255, 184, 115);
    padding: 1.5rem;
}

h1, h2, h3 {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* Custom Arrow using borders */
.arrow {
    width: 0.5rem;
    height: 0.5rem;
    border-right: 0.125rem solid #333;
    border-bottom: 0.125rem solid #333;
    transform: rotate(-45deg); /* Points right/down initially */
    transition: transform 0.3s ease; /* Smooth rotation */
}

/* Rotate arrow when open */
details[open] .arrow {
    transform: rotate(45deg); /* Rotates to point down/up */
}

li {
    list-style-type: none;
    background: #d2d2d2;
}

ul{
    padding: 0;
    align-content: left;
}

.contents {
    background: rgb(255, 225, 197);
    padding: 0.05rem 0.5rem
}

.tip {
    padding: 10px;
}

.big {
    display: flex;
    justify-content: left;
    width: 45rem;
}

.hero {
    width: 62.5rem
}
@media (max-width: 769px) {
    .big {
        width: 100%;
    }
}

@media (max-width: 999px) {
    .hero {
        width: 100%
    }
}
