@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

/* Hide default arrow */
summary {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 0.625rem;
}
summary::-webkit-details-marker {
    display: none;
}

.tips {
    background: #a9a9a9;
}

h1, h2, h3 {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* Custom Arrow using borders */
.arrow {
    width: 0.5rem;
    height: 0.5rem;
    border-right: 0.125rem solid #333;
    border-bottom: 0.125rem solid #333;
    transform: rotate(-45deg); /* Points right/down initially */
    transition: transform 0.3s ease; /* Smooth rotation */
}

/* Rotate arrow when open */
details[open] .arrow {
    transform: rotate(45deg); /* Rotates to point down/up */
}

li {
    background: #acacac;
}

.contents {
    background: #d2d2d2;
}
.tip {
    padding: 10px;
    background: #fe9733;
}

img {
    width: 75%
}
